<ion-header>
  <ion-toolbar>
    <ion-title>connect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="onGoToListConnectionsBtnClick()" data-test="launchListConnectionsPageButton" fill="clear">List Connections</ion-button>
  <ion-button (click)="onGoToOpenConnectionBtnClick()" data-test="launchOpenConnectionPageButton" fill="clear">Open Connection</ion-button>
  <ion-button (click)="onGoToOpenAcceptNewConnectionBtnClick()" data-test="acceptNewConnectionBtn" fill="clear">Accept New Connection</ion-button>
</ion-content>
