<ion-header>
  <ion-toolbar>
    <ion-title>Permissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title> All Users  :current {{currentUser()}} </ion-card-title>

  <ion-item *ngFor="let user of getListOfUsers()">
    {{user.name}}
  </ion-item>

  
</ion-content>

<label for="permissions-roles"> User roles </label>
<form>
  
  <select id="permissions-roles">
  <option *ngFor="let role of getListOfRoles()"><ion-item> {{role}} </ion-item></option>
      <option>  </option>
  </select>

</form>

<ion-footer>
  <ion-toolbar id="bottom-toolbar" color="light">
    <ion-button (click)="saveChanges()" fill="clear">Save</ion-button>
    <ion-button (click)="cancelChanges()" fill="clear">Cancel</ion-button>
  </ion-toolbar>
</ion-footer>