

  #users-dropdown {
    width: 100%;
    height: 40px;
    font-size: larger;
  }

  .clickable {
    cursor: pointer;
  }
  .notSelected div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    cursor: pointer;
    
  }

  .selected div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    background-color: #2C5;
    cursor: pointer;
  }
  
  ion-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }

  ion-toolbar #bottom-toolbar {
    display: flex;
    justify-content: space-evenly;
  
    ion-button {
      width: 18.9%;
    }
  }