ion-toolbar#bottom-toolbar {
    display: flex;
    justify-content: space-evenly;
  
    ion-button {
      width: 18.9%;
    }
  }

  #permissions-availabe {
    width: 50%;
  }
  
  .clickable {
    cursor: pointer;
  }

  .current-roles {
    color: #0f9;
    background-color: #09f;
  }