  // #user-list {
  //   display: flex;
  //   width: 100%;
  //   height: auto;
  //   flex-wrap: wrap;
  //   ion-item {
  //     width: 100%;
  //   }
  // }

  #users-dropdown {
    width: 100%;
    height: 40px;
    font-size: larger;
  }

  .clickable {
    cursor: pointer;
  }
  .notSelected div {
    display: flex;
    align-items: center;
    //justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    //background-color: #C02;
    cursor: pointer;
    //color: #FFF;
  }

  .selected div {
    display: flex;
    align-items: center;
    //justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
    background-color: #2C5;
    cursor: pointer;
    // color: #FFF;
    // border-radius: 10px;
    // animation-name: shimmer;
    // animation-duration: 5s;
    // animation-timing-function: linear;
    // animation-iteration-count: 1;
  }

  @keyframes shimmer {
    0% {background-color: #2C5; color: #FFF;}
    10% {background-color: #FFF; color: #2C5;}
    20% {background-color: #2C5; color: #FFF;}
  }
  
  ion-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }

  ion-toolbar #bottom-toolbar {
    display: flex;
    justify-content: space-evenly;
  
    ion-button {
      width: 18.9%;
    }
  }