<app-header [currentPageTitle]="headerPageTitle"></app-header>

<ion-content>

  <ion-card-title>  Logged in as: {{getCurrentUserName()}} </ion-card-title>
  <ion-card-title *ngIf="hasSelectedUser() == false">Select a user </ion-card-title>
  <ion-card-title *ngIf="hasSelectedUser() == true">You selected {{getSelectedUserName()}} </ion-card-title>
  <ion-item></ion-item>
  <ion-item *ngFor="let user of getlistOfUsers()" (click)="selectUser(user)" class="clickable"> {{user.name}} </ion-item>
  <ion-item></ion-item>
  <ion-item>Assigned Roles</ion-item>
  <div class="current-roles">
    <ng-container *ngIf="getselectedUserRoles() != []" class="current-roles">
    
      <ion-item *ngFor="let roleOfUser of getselectedUserRoles()"> {{roleOfUser}} <ion-button (click)="removeRole(roleOfUser)" class="current-roles"> X </ion-button></ion-item>
    

    </ng-container>
  </div>
  <ion-item>
    <select [(ngModel)]="selectedRole" name="selectedRole" aria-label="additional-roles">
      <option> </option>
      <option class="current-roles" *ngFor="let roleAvailable of getlistOfAvailableRoles()">{{roleAvailable}}</option>
    </select>
    <ion-button (click)="addRole(selectedRole)">Add Selection</ion-button>
  </ion-item>


<ion-footer>
  <ion-toolbar id="bottom-toolbar" color="light">
    <ion-button (click)="saveRoleChanges()" fill="clear">Save</ion-button>
    <ion-button (click)="exitToHomePage()" fill="clear">Cancel</ion-button>
  </ion-toolbar>
</ion-footer>
