<ion-header>
  <ion-toolbar>
    <ion-title>Review Attributes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label="phrase" value="testing" [readonly]="true"></ion-input>
  </ion-item>
  <ion-button color="tertiary" (click)="onGetNextPhraseBtnClick()" [disabled]="true">Get Next Phrase</ion-button>
  <ion-button color="tertiary" (click)="onApprovePhraseBtnClick()" [disabled]="false">Approve</ion-button> <ion-button
    color="tertiary" (click)="onRejectPhraseBtnClick()" [disabled]="false">Reject</ion-button>
</ion-content>