<ion-header>
  <ion-toolbar>
    <ion-title>Review Attributes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label="phrase" [value]="phraseToBeReviewed" placeholder="Click get next phrase to review" [readonly]="true"></ion-input>
  </ion-item>
  <ion-button color="tertiary" (click)="onGetNextPhraseBtnClick()" [disabled]="getNextPhraseButtonDisabled">Get Next Phrase</ion-button>
  <ion-button color="tertiary" (click)="onApprovePhraseBtnClick()" [disabled]="approveButtonDisabled">Approve</ion-button>
  <ion-button id="reject" color="tertiary" (click)="onRejectPhraseBtnClick()" [disabled]="rejectButtonDisabled">Reject</ion-button>
    <ion-alert
    trigger="reject"
    header="Select your favorite color"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>

</ion-content>

