

.bold-text {
  font-weight: bold;
}

.notification-item {
  display: flex;
  flex-direction: column;
  position: relative;

  &.long-press {
    &.loading-bar {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ffa600;
        animation: loading-bar-animation 1s linear infinite;
        z-index: 1;
      }
    }
  
    &.loading-bar-text {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: black;
        mix-blend-mode: multiply; /* Set text color to white */
        animation: loading-bar-animation 1s linear infinite;
        z-index: 2;
      }
    }
  }

  &.expanded {
    .notification-body {
      display: block;
      height: auto;
      max-height: 1000px; /* Set a maximum height based on your content size */
      opacity: 1;
      transition: max-height 0.3s ease, opacity 0.3s ease; /* Adjust the duration and timing function as needed */
    }
  }
}
  
  @keyframes loading-bar-animation {
    to {
      width: 100%;
      color: white
    } 
  }

.notification-content {
  flex: 1; 
}

.notification-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.notification-title ion-icon {
  margin-right: 10px;
}




