<app-header [currentPageTitle]="headerPageTitle"></app-header>
<ion-content>
  <ng-container *ngIf="notifications.length > 0; else noNotifications">
    <ion-list>
      <ion-item *ngFor="let notification of notifications"
                appLongPress (longPress)="onDeleteNotification(notification)"
                (click)="onShowMoreInfo(notification)"
                [class.long-press]="isPressed"
                class="notification-item"
                [class.expanded]="isNotificationExpanded(notification)">
        <div class="notification-content">
          <div class="notification-title">
            <ion-icon slot="start" [name]="getIcon(notification)"></ion-icon>
            <ion-label [class.bold-text]="!notification.isRead">{{ notification.description }}</ion-label>        
          </div>
          <div *ngIf="isNotificationExpanded(notification)" class="notification-body">
            {{notification.body}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #noNotifications>
    <div>No new notifications</div>
  </ng-template>
</ion-content>
