<app-header [currentPageTitle]="headerPageTitle"></app-header>
<ion-header>
    <ion-toolbar>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="(model | async) as notifications; else noNotifications">
      <ion-list>
        <ion-item *ngFor="let model of notifications"
                  appLongPress (longPress)="onDeleteNotification(model.id)"
                  (click)="onShowMoreInfo(model)"
                  [class.long-press]="isPressed" >
          <ion-icon slot="start" [name]="getIcon(model)"></ion-icon>
          <ion-label>{{ model.description }}</ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  
    <ng-template #noNotifications>
      <div>No new notifications</div>
    </ng-template>
  </ion-content>
