ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  margin-top: 3rem;
  width: 100%;
}

ion-item:not(:first-child) {
  margin-top: 1rem;
}

.submit-btn {
  display: block;
}

ion-button {
  margin-top: 0.5rem;
}

ion-button[type="submit"] {
  margin-top: 3rem;
}

ion-button[fill="clear"] {
  font-size: 0.9rem;
}

.login-logo {
  display: flex;
}

.login-logo img {
  max-width: 58%;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
  .login-logo {
    align-self: flex-start;
    margin-right: 2rem;
  }
}
