<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-buttons *ngIf="displaySecondaryActionButton" slot="start">
      <ion-button color="tertiary" (click)="onSecondaryActionButtonClick()" data-test="launchHeaderSecondaryActionButton">{{secondaryActionButtonText}}</ion-button>
    </ion-buttons>
    <ion-title>{{currentPageTitle}}</ion-title>
    <ion-buttons *ngIf="displayPrimaryActionButton" slot="end">
      <ion-button color="tertiary" (click)="onPrimaryActionButtonClick()" data-test="launchHeaderPrimaryActionButton">{{primaryActionButtonText}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
