
<app-header [currentPageTitle]="headerPageTitle"></app-header>

<ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar id="bottom-toolbar" color="light">
    <ion-button (click)="onHomeBtnClick()" fill="clear"><ion-icon name="albums"></ion-icon></ion-button>
    <ion-button (click)="onProfileBtnClick()" fill="clear"><ion-icon name="person"></ion-icon></ion-button>
    <ion-button (click)="onSettingsBtnClick()" fill="clear"><ion-icon name="Edit Your Attributes"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
