<!--import { FormsModule, ReactiveFormsModule } from '@angular/forms';-->

<!--@NgModule({-->
<!--  imports: [-->
<!--    FormsModule,-->
<!--    ReactiveFormsModule-->
<!--  ],-->
<!--declarations: [attributes]-->
<!--})-->

<ion-header>
  <ion-toolbar>
    <ion-title>attributes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>First Input</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Second Input</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Third Input</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fourth Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
