<ion-header>
  <ion-toolbar>
    <ion-title>attributes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Output</ion-label>
      <ion-input [readonly]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Input One</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Input Two</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Input Three</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Readonly input</ion-label>
      <ion-input value="Madison" [readonly]="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Input Four</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
