<ion-header>
  <ion-toolbar>
    <ion-title>list_connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let connection of getAllConnections()" routerLink="../connection-details/{{connection['to']}}">
      <ion-label>
        <h2>{{connection['to']['username']}}</h2>
        <p>{{connection['message']}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/connections/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
