<ion-header>
  <ion-toolbar>
    <ion-title>list_connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="warning" *ngFor="let listOfConnectionsByUser of getListOfConnectionsByUser()"> 
    <ion-card-title>
      {{listOfConnectionsByUser}} 
    </ion-card-title>
  </ion-card>
</ion-content>

<!--
  get list of connections
  display those connections
  display username of person you are connected with
  userId, toBeConnectedWithUserId

  display model service to template
  bind the data 
  https://angular.io/tutorial/tour-of-heroes/toh-pt2
-->

