<ion-header>
  <ion-toolbar>
    <ion-title>list_connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title>
    Under Construction
  </ion-card-title>
</ion-content>


<!--
<ion-card color="warning" *ngFor="let attr of getAttributes()">
  <ion-card-content>
    <ion-card-title>{{attr['phrase']['adverb'] || ''}} {{attr['phrase']['verb'] || ''}} {{attr['phrase']['preposition'] || ''}} {{attr['phrase']['noun'] || ''}}
      <ion-button color="danger" (click)="deleteAttribute(attr['id'])">x</ion-button>
    </ion-card-title>
  </ion-card-content>
</ion-card>
-->