<app-header [currentPageTitle]="headerPageTitle" [displayPrimaryActionButton]="true"
  [primaryActionButtonText]="headerPagePrimaryActionButtonText" [primaryActionButtonFunc]="getCreateBtnClickFunc()"></app-header>

  <ion-content>
    <ion-card color="warning" *ngFor="let attr of getAttributes()">
      <ion-card-content>
        <ion-card-title>{{attr.phrase.adverb || ''}} {{attr.phrase.verb || ''}} {{attr.phrase.preposition || ''}} {{attr.phrase.noun || ''}}
          <ion-button color="danger" (click)="deleteAttribute(attr.id)">x</ion-button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
