<app-header [currentPageTitle]="headerPageTitle" [displayPrimaryActionButton]="true"
  [primaryActionButtonText]="headerPagePrimaryActionButtonText" [primaryActionButtonFunc]="getCreateBtnClickFunc()"></app-header>

  <ion-content>
    <ion-card *ngFor="let attr of getAttributes()">
      <ion-card-content>
        <ion-card-title>Attribute</ion-card-title>
        <ion-card-subtitle>{{attr.phrase.adverb || ''}}</ion-card-subtitle>
        <ion-card-subtitle>{{attr.phrase.verb || ''}}</ion-card-subtitle>
        <ion-card-subtitle>{{attr.phrase.preposition || ''}}</ion-card-subtitle>
        <ion-card-subtitle>{{attr.phrase.noun || ''}}</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
